[remote "Replication"]
    url = ssh://root@gerrit_1/var/gerrit/git/${name}.git
    push = +refs/*:refs/*
    timeout = 600
    rescheduleDelay = 15
    replicationDelay = 5
    mirror = true
    createMissingRepositories = true
    replicateProjectDeletions = true
    replicateHiddenProjects = true
[gerrit]
    autoReload = true
    replicateOnStartup = false
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 5
